*{
    font-weight: bold;
    text-align: center;
    


}
body { float: left;
    width: 100%;
    
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 28px;
  }
  
  h1 {
    color:white;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
  
  }
  img {
    border-radius: 50%;
    padding: 25px;
width: 25%
  }

  header {
      background-color: navy
  }
  a {
      color:darkgreen
  }
  footer{
    color:white;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    background-color: orangered
  }
  .container{
      width: 1024px;
      margin: 0 auto;
      float: left;
  }